body {
    font-family: "Times New Roman";
    background-color: #f0f8ff; 
    text-align: center;
    padding: 50px;
}

#time {
    font-size: 50px;
    color: #00796b; 
    margin: 20px 0;
}

.buttons-box {
    display: inline-block;
    background-color: #0e0303; 
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #cb36361a; 
}

.buttons-box button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #b98f2d; 
    color: white;
    cursor: pointer;
}


.buttons-box button:hover {
    background-color: #ffa000; 
}

#laps {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#laps li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    color: #00695c;
}

